@import "../components/bootstrap-sass/assets/stylesheets/bootstrap";

.placehold {
  display: table;
  span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
  }
}

body {
  font-family: 'Lato', sans-serif;
}
