<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title }}</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/style.css">
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
<body style="margin: 0px; padding: 0px;">
  {{{body}}}
  </body>
</html>
