<div class="main-wrap">
  <div class="col-md-12">
    <h1>You want image I give image</h1>
    <h3>http://www.placehex.com/500x250/AD234B/your text here</h3>
    <div>
      <img src="http://localhost:3000/500x250/AD234B/your text here" />
    </div>
  </div>
  <footer>
    <div class="col-md-12">
    </div>
  </footer>
</div>
